/* Colors: */
caption, span.caption, .header {
	background-color: #C6DBFF;
}

div.bubble {
	border: 4px solid #C6DBFF;
}
th {
	background-color: #E7EFFF;
	border-right: 1px solid #BDBABD;
}
tbody > th {
	background-color: white;
}
td {
	background-color: white;
}

.build-errors th, .build-warnings th, .test-failures th {
	background-color: #FFF3D3;
}

div.error, div.warning, div.message,
div.build-errors, div.build-errors caption,
div.build-warnings, div.build-warnings caption,
div.test-failures, div.test-failures caption {
	border: 4px solid #FFD363 !important;
	background-color: #FFD363;
}

html, body {
	background-color: white;
	height: 100%;
}

.success, .PASS {
	color: #43F143;
}

.failure, .FAIL {
	color: red;
}

.SKIP {
	color: #C0C000;
}

.ERROR {
	color: #FFA500;
}

a:link,a:visited {
	color: #0000CE;
}

a:active {
	color: red;
}

table {
	background-color: #BDBABD;
}
td, th {
	border-bottom: 1px solid #BDBABD;
}

.diff, .log {
	background-color: #FAFAFA;
}

input[disabled] + label, label + input[disabled] {
	color: gray;
}

.new-test-failure {
	color: red;
}

/* Everything Else */
html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding: 0;
	margin: 0;
}

form {
	margin: 0;
	padding: 0;
}


.BUILDING, .building {
	font-weight: bold;
	background: transparent repeat top left;
	background-image: url("../images/construction.gif");
}

span.error {
	background: transparent no-repeat top left;
	background-image: url("../images/error.gif");
}

span.warning {
	background: transparent no-repeat top left;
	background-image: url("../images/warning.gif");
}

span.message {
	background: transparent no-repeat top left;
	background-image: url("../images/success.gif");
}

span.error, span.warning, span.message {
	display: block;
	padding-left: 20px;
}

h3.build-outcome-message, li.issue-list {
	max-width: 500px;
}

div.build-nav a {
	margin-left: 5px;
	margin-right: 5px;
}
div.file-upload {
	padding: 10px;
}

.diff, .log {
	position: absolute;
	border: 1px solid black;
	font-family: "Bitstream Vera Sans Mono", monospace;
	left: 10px;
	right: 10px;
	height: 90%;
	overflow: scroll;
}

.issue, .issue-unlinked {
	font-family: "Bitstream Vera Sans Mono", monospace;
	font-weight: bold;
}

.issue-unlinked {
	border-bottom: 1px dotted orange;
}

a.health {
	float: right;
	padding: 3px;
}

.authInfo {
	float: right;
	padding: 3px;
}

.requestUser {
	font-weight: bold;
	padding-bottom: 1ex;
}

div.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 18px;
	padding: 2px;
	padding-left: 10px;
	padding-bottom: 2px;
	z-index: 2;
}

div.link {
	margin-bottom: 1em;
}

div.content {
	margin-top: 4em;
	margin-left: 6px;
	margin-right: 6px;
	position: static;
	display: block;
}

div.setup-content {
	margin-top: 4em;
	margin-left: 320px;
	position: static;
	display: block;
}

div.inputGroup h1 {
	margin-top: 4px;
	font-size: 10pt;
	font-weight: bold;
}

div.inputGroup input {
	margin-right: 5px;
}

div.tables {
	margin-left: auto;
	margin-right: auto;
	width: 50em;
}

div.buildHistoryReport table, div.buildHistoryReport caption {
	margin-left: 0;
}

div.tables table {
	width: 100%;
}

div.projectCheckboxes {
	-moz-column-width: 18em;
}
div.projectCheckboxes li {
	white-space: nowrap;
}
div.chart-legend {
	float: left;
	border: 1px solid black;
}
.legend-header {
	font-weight: bold;
	position: relative;
	margin-left: 8px;
	top: -8px;
	background-color: white;
}
.legend-color-box {
	width: 1em;
	height: 1em;
	border: 1px solid black;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
	float: left;
}
a.xml {
	float: right;
	padding-top: 1px;
	padding-right: 1px;
	display: none;
}

a.edit,a.editing {
	position: absolute;
	margin-left: 1px;
	display: none;
}

a img {
	border: none;
}

ul.menu {
	display: inline;
	padding-left: 0;
	margin-left: 0;
}

ul.menu li:before {
	content: " | ";
}

ul.menu li {
	list-style: square;
	display: inline;
}

ul.issue-list {
	list-style: none;
	display: inline;
	padding: 0;
	margin-left: 0;
}

ul.issue-list li {
	display: inline;
	margin-left: 0.75em;
}

ul.modified-paths {
	margin: 0;
	padding-left: 15px;
}

ul.options,ul.projectBuildOptions,div.projectCheckboxes ul,
ul.metaDataOptions,ul.object-array,ul.primitive-array,
ul.dateRanges {
	list-style: none;
	padding-left: 0;
	padding-right: 10px;
	margin-left: 0;
	margin-right: 10px;
	margin-top: 0;
}

ul.dateRanges li {
	padding-left: 2em;
}

ul.options li {
	display: inline;
}

div.detail-menu {
	float: left;
	margin-right: 2em;
}

ul.detail-menu {
	list-style: none;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 0;
}

ul.detail-menu > li {
	margin-bottom: 2ex;
	padding-left: 0;
	margin-left: 0;
}

div.detail-menu > span {
	font-size: larger;
	font-weight: bold;
	padding-left: 0;
	border-bottom: 1px solid black;
}

input[type=radio]+label {
	margin-right: 1em;
}

input[type=text], input[type=password] {
	width: 35em;
}
input[type=button], button {
	margin-right: 1em;
}

a {
	text-decoration: none;
}

a.sorted-ascending,a.sorted-descending {
	background: transparent no-repeat top right;
	padding-right: 16px;
}

a.sorted-ascending,th.age a.sorted-descending {
	background-image: url("../images/arrow_down.png");
}

a.sorted-descending,th.age a.sorted-ascending {
	background-image: url("../images/arrow_up.png");
}

div.bubble {
	margin-bottom: 2em;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

div.upper-left, div.upper-right, div.lower-left, div.lower-right {
	width: 4px;
	height: 4px;
}
div.upper-left, div.upper-right {
	margin-top: -4px;
}
div.lower-left, div.lower-right  {
	margin-bottom: -4px;
}
div.upper-left {
	float: left;
	
	margin-left: -4px;
	background-image: url("../images/ul.gif");
}
div.upper-right {
	float: right;
	margin-right: -4px;
	background-image: url("../images/ur.gif");
}
div.lower-left {
	float: left;
	margin-left: -4px;
	background-image: url("../images/ll.gif");
}
div.lower-right  {
	float: right;
	margin-right: -4px;
	background-image: url("../images/lr.gif");
}
caption, span.caption {
	padding-left: 4px;
	padding-bottom: 4px;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}
span.caption {
	display: block;
}

table {
	border-collapse: collapse;
}

table.error, table.warning, table.message,
table.buildHistoryReportForm,
table.manualBuild {
	margin-left: auto;
	margin-right: auto;
}
table.blended td {
	border: none;
}
table.build-summary {
	float: left;
	margin-right: 2em;
}
table.change-sets, .build-errors, .build-warning, .test-failures {
	clear: left;
}
table.about th {
	width: 8em;
}
td.component-version {
	text-align: center;
}
table.build-messages tbody td {
	font-family: "Bitstream Vera Sans Mono", "MS Courier New", monospace;
	font-size: smaller;
	white-space: pre;
}
table.projectConfig, table.delete-projects {
	width: 60em;
}
table.dynamicEdit {
	width: 50em;
}
table.builds {
	width: 100%;
}
table .error {
	display: block;
}

table.primitiveArray,table.objectArray {
	margin-left: 0;
	border-spacing: 0 0;
	border: 0;
}

table.primitiveArray th,table.primitiveArray td,table.objectArray th,table.objectArray td {
	vertical-align: middle;
}

td.wrapper {
	padding: 0;
}
td.wrapper {
	border-bottom: none;
}

tbody > th {
	text-align: right;
	width: 10em;
}

td,th {
	padding: 3px;
	vertical-align: top;
}

th:last-child, th.last-child {
	border-right: 0;
}
th.timestamp, td.timestamp, td.label {
	white-space: nowrap;
}

td.status {
	font-weight: bold;
	text-align: center;
}
th.long {
	text-align: left;
}
td.build-number {
	text-align: center;
}

td.dateInputs {
	vertical-align: bottom;
}

div.tables th,div.tables td {
	text-align: center;
}

span.banner {
	font-size: larger;
	font-weight: bold;
}

span.description {
	font-style: italic;
}

select.transform {
	margin-left: 4px;
	margin-bottom: 8px;
}

input.buildNumber {
	width: 8em;
	margin-left: 1em;
}

input[type=submit] {
	margin-left: 1em;
}

.vulcan-logo {
	float: right;
}