@import url("parts/color.css");

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

h1,h2,h3,h4,h5,h6,ul,ol,p,form,body {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h3 {
	font-size: 200%;
	font-weight: bold;
}

h5 {
	font-weight: bold;
	font-size: 115%;
}

h6 {
	font-size: 100%;
}

th {
	font-weight: normal;
}

tbody th {
	text-align: left;
}

ul {
	margin-left: 2.5em;
}

li ul {
	margin-left: 4ex;
}

.hidden {
	display: none;
}

a img {
	border: none;
}

a.external {
	background: transparent no-repeat center right
		url("../images/external.png");
	padding-right: 14px;
}

caption, .caption {
	padding-bottom: 2ex;
	font-weight: bold;
	text-align: left;
	font-size: 100%;
}

#loading-message {
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	background-color: red;
	display: none;
}

/***** Layout ************************************************************************************/
#brand {
	height: 58px;
	width: 225px;
	margin-top: 5ex;
	margin-left: 10ex;
	overflow: hidden;
	z-index: 10;
}

ul#primary-nav,ul#utility-nav {
	list-style-type: none;
	text-align: right;
}

ul#primary-nav {
	padding-bottom: 3px !important;
	border-bottom: 4px solid #9DAC39;
}

ul#utility-nav {
	position: absolute;
	top: 1ex;
	right: 5ex;
	left: 15ex;
	border-top: 3px solid #e7e7e7;
}

ul#primary-nav li {
	margin-right: 4ex;
	padding: 1ex 2ex 3px 2ex;
}

ul#primary-nav li.active {
	background-color: #9dac39;
}

ul#primary-nav li.active a {
	color: white;
}

ul#primary-nav li a {
	color: #666;
	font-weight: bold;
}

ul#utility-nav li,ul#primary-nav li {
	display: inline;
}

ul#primary-nav li:last-child,ul#utility-nav li:last-child {
	margin-right: 5ex;
}

ul#utility-nav li {
	color: #868686;
	background-color: #e7e7e7;
	padding-bottom: 3px;
}

ul#utility-nav li a {
	color: #868686;
	padding-left: 2ex;
	padding-right: 2ex;
	font-size: 85%;
}

ul#utility-nav li.username {
	padding-left: 2ex;
}

ul#utility-nav li:before {
	content: "|";
}

ul#utility-nav li:first-child:before {
	content: "";
}

ul#utility-nav li.username+li:before {
	content: "";
}

div.container,ul#primary-nav {
	margin: 0 5ex;
}

div.container,ul#primary-nav,ul#utility-nav {
	min-width: 860px;
}

#content {
	padding-top: 2ex;
	padding-bottom: 5ex;
	position: relative;
	overflow: hidden;
}

#site-info {
	clear: both;
	text-align: right;
	margin: 0 5ex;
	padding-bottom: 2ex;
	border-top: 4px solid #9DAC39;
}

#site-info p {
	font-size: smaller;
	color: darkgray;
}

#site-info a {
	text-decoration: none;
	color: inherit;
}

img.health {
	position: relative;
	top: 4px;
	margin-left: 1ex;
}

/***** Setup Layout *********************************************************************************/
div#setup-menu {
	float: left;
	min-width: 30ex;
	width: 20%;
	background-color: white;
}

div#setup-content {
	margin-bottom: 10ex;
}

ul.detail-menu {
	list-style: none;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 0;
}

ul.detail-menu>li {
	margin-bottom: 2ex;
	padding-left: 0;
	margin-left: 0;
}

/***** Import Projects ******************************************************************************/
div#status {
	margin-top: 4ex;
}

div#status img {
	position: relative;
	left: -6px;
}

.processing, .status-detail {
	color: #7E97A6;
}

/***** Build Reports ********************************************************************************/
table#reports-list {
	margin-bottom: 2ex;
}

table#reports-list td {
	width: 33%;
}

tr.dragging td.desc, tr.dragging td.buttons {
	display: none;
}

table#buildReportEditFields {
	margin-top: 4ex;
}

/***** Dashboard ************************************************************************************/
table.dashboard {
	margin-bottom: 4ex;
}

table.dashboard td {
	text-align: center;
}

table.projects {
	float: left;
}

div#current-activity {
	float: right;
	width: 30%;
}

div#current-activity table {
	width: 100%;
}

div#current-activity ul {
	list-style: none;
	margin-left: 0;
	padding-bottom: 5ex;
}

div#current-activity ul li {
	margin-bottom: 1ex;
}

div.progress-bar, p.phase {
	margin-left: 2ex;
}
	
.progress-bar-success, .progress-bar-failure {
	height: 5px;
	overflow: hidden;
}

p.time-remaining, a.cancel-build {
	font-size: 85%;
	text-align: right;
}

a.cancel-build {
	float: right;
}

.build-outcome-message {
	margin-bottom: 1ex;
}

a.issue {
	background: none !important;
	padding-right: 0 !important;
}

.BUILDING,.building {
	font-weight: bold;
	background: transparent repeat top left;
	background-image: url("../images/construction.gif");
}

span.error {
	background: transparent no-repeat top left;
	background-image: url("../images/error.gif");
}

span.warning {
	background: transparent no-repeat top left;
	background-image: url("../images/warning.gif");
}

span.message {
	background: transparent no-repeat top left;
	background-image: url("../images/success.gif");
}

span.error,span.warning,span.message {
	padding-left: 20px;
}

div.build-nav {
	float: right;
}

div.build-nav a {
	margin-left: 5px;
	margin-right: 5px;
}

div.file-upload {
	padding: 10px;
}

.issue,.issue-unlinked {
	font-weight: bold;
}

/* monospace */
.diff,.log,.issue,.issue-unlinked,table.build-messages tbody td {
	font-family: "Monaco", "Lucida Console", "Bitstream Vera Sans Mono",
		"DejaVu Sans Mono", monospace;
}

.issue-unlinked {
	border-bottom: 1px dotted orange;
}

.test-name {
	font-size: larger;
	display: block;
}

.test-namespace {
	font-style: italic;
}

div.link {
	margin-bottom: 1em;
}

div.buildHistoryReport table,div.buildHistoryReport caption {
	margin-left: 0;
}

div.projectCheckboxes {
	-moz-column-width: 18em;
}

div.projectCheckboxes li {
	white-space: nowrap;
}

div.chart-legend {
	float: left;
	border: 1px solid black;
}

.legend-header {
	font-weight: bold;
	position: relative;
	margin-left: 8px;
	top: -8px;
	background-color: white;
}

.legend-color-box {
	width: 1em;
	height: 1em;
	border: 1px solid black;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
	float: left;
}

ul.issue-list {
	list-style: none;
	display: inline;
	padding: 0;
	margin-left: 0;
}

ul.issue-list li {
	display: inline;
	margin-left: 0.75em;
}

ul.options,ul.projectBuildOptions,div.projectCheckboxes ul,ul.metaDataOptions,ul.object-array,ul.primitive-array,ul.dateRanges
	{
	list-style: none;
	padding-left: 0;
	padding-right: 10px;
	margin-left: 0;
	margin-right: 10px;
	margin-top: 0;
}

ul.dateRanges li {
	padding-left: 2em;
}

ul.options li {
	display: inline;
}

input[type=radio]+label {
	margin-right: 1em;
}

input[type=text],input[type=password] {
	width: 35em;
}

input[type=button],button {
	margin-right: 1em;
}

a {
	text-decoration: none;
}

table.sortable thead th, th.sortable a:link, th.sortable a {
	cursor: pointer;
	background: transparent no-repeat center right url("../images/sortable.gif");
	padding-right: 21px;
}

.sorted-ascending,.sorted-descending {
	background: transparent no-repeat center right;
	padding-right: 21px;
}

.sorted-ascending, th.age .sorted-descending {
	background-image: url("../images/asc.gif") !important;
}

.sorted-descending, th.age .sorted-ascending {
	background-image: url("../images/desc.gif") !important;
}

table.error,table.warning,table.message,table.buildHistoryReportForm,table.manualBuild
	{
	margin-left: auto;
	margin-right: auto;
}

table.blended td {
	white-space: pre;
}

table.build-summary {
	float: left;
	margin-right: 2em;
}

table.change-sets,.build-errors,.build-warning,.test-failures {
	clear: left;
}

table.about th {
	width: 8em;
}

td.component-version {
	text-align: center;
}

table.build-messages tbody td {
	font-size: smaller;
}

table.builds {
	width: 100%;
}

table .error {
	display: block;
}

table.primitiveArray,table.objectArray {
	margin-left: 0;
	border-spacing: 0 0;
	border: 0;
}

table.primitiveArray th,table.primitiveArray td,table.objectArray th,table.objectArray td
	{
	vertical-align: middle;
}

tbody>th {
	text-align: right;
	width: 10em;
}

td,th {
	padding: 3px;
	vertical-align: top;
}

th:last-child,th.last-child {
	border-right: 0;
}

th.timestamp,td.timestamp,td.label {
	white-space: nowrap;
}

td.status {
	font-weight: bold;
	text-align: center;
}

th.long,th.file {
	text-align: left;
}

td.build-number {
	text-align: center;
}

td.dateInputs {
	vertical-align: bottom;
}

div.tables th,div.tables td {
	text-align: center;
}

input[type="checkbox"]+label+div {
	margin-top: 1ex;
	margin-left: 2ex;
}

.description {
	font-style: italic;
}

select.transform {
	margin-left: 4px;
	margin-bottom: 8px;
}

select.reloadInterval {
	margin-left: 1ex;
	margin-right: 1ex;
}

input.buildNumber {
	width: 8em;
	margin-left: 1em;
}

input[type=submit] {
	margin-left: 1em;
}


ul.tabs {
	margin: 0;
	margin-top: 20px;
	padding: 0;
}

ul.tabs li {
	display: inline;
	background-color: #ccc;
	margin-left: 10px;
	padding: 10px;
	border: 1px solid black;
}

ul.tabs li.active {
	background-color: white;
	padding-bottom: 11px;
	border-bottom: none;
}

div.tab-panel {
	display: none;
	border: 1px solid black;
	margin-top: 10px;
	padding: 10px;
}

caption.panel-caption {
	display: none;
}

div#summary-panel {
	display: block;
}

span.count {
	font-size: smaller;
	color: black;
}

div.build-stats {
	float: left;
	margin-right: 20px;
}

iframe {
	border: none;
	width: 100%;
	/* height set by javascript */
}