@import url("yui/reset-min.css");
@import url("yui/fonts-min.css");
@import url("yui/base-min.css");

/*** Main ******************************************************************/
html, body {
	background-color: #E7E7E7;
}

#logo {
	background: transparent no-repeat url("../images/vulcanlogo.gif");
	width: 83px;
	height: 83px;
	text-indent: -2000px;
	overflow: hidden;
}

#main {
	position: relative;
	width: 974px;
	margin-left: auto;
	margin-right: auto;
}

#bottom {
	text-align: center;
	font-size: smaller;
	background-color: #E7E7E7;
}

#bottom p {
	margin: 0;
}

#content {
	min-height: 400px;
	background-color: white;
	border: 2px solid #9DAC39;
}

#content-header {
	background-color: #F1FF95;
	padding: 10px;
}

#content-header span {
	font-size: larger;
	font-weight: bold;
}
/*** Top nav **********************************************************/
ul#topnav {
	background-color: black;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
	padding: 10px;
}

ul#topnav li a {
	color: #F1FF95;
}
/*** Secondary nav *********************************************************/
ul#secondarynav {
	position: absolute;
	top: 0;
	right: 0;
}

.username {
	font-weight: bold;
}

ul#secondarynav li {
	margin-right: 0;
}

ul#secondarynav li:after {
	color: darkgrey;
	content: " | ";
}

#secondarynav li:last-child:after {
	content: "";
}
/*** General use ***********************************************************/
.hidden { display: none; }

a {
	text-decoration: none;
}

a:visited, a:link {
	color: #0000CE;
}

a.sorted-ascending,a.sorted-descending {
	background: transparent no-repeat top right;
	padding-right: 16px;
}

a.sorted-ascending,th.age a.sorted-descending {
	background-image: url("../images/arrow_down.png");
}

a.sorted-descending,th.age a.sorted-ascending {
	background-image: url("../images/arrow_up.png");
}

ul {
	margin: 0;
}

ul.flow {
	display: inline;
	margin-left: 2em;
}

ul.inline li {
	display: inline;
	margin-right: 30px;
}	

ul.input-group li, .project-checkboxes li {
	list-style: none;
}

.project-checkboxes li {
	white-space: nowrap;
}

.project-checkboxes {
	-moz-column-width: 18em;
}

span.error {
	background: transparent no-repeat top left;
	background-image: url("../images/error.gif");
}

span.warning {
	background: transparent no-repeat top left;
	background-image: url("../images/warning.gif");
}

span.message {
	background: transparent no-repeat top left;
	background-image: url("../images/success.gif");
}

span.error, span.warning, span.message {
	display: block;
	padding-left: 20px;
}

input[type="checkbox"], input[type="radio"] {
	margin-right: 6px;
}

#loading-message {
	color: red;
	display: none;
	float: right;
}
/*** Dashboard  *******************************************************/
.project-label-active {
	border: 1px solid black;
	font-weight: bold;
}

table#projectTable {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#projectTable td, th {
	border: none;
	padding: 0;
	vertical-align: top;
}

#projectTable tr {
	height: 50px;
}

#projectTable tr.half {
	height: 25px;
}

#projectTable tr.PASS {
	background-color: #F3FFF0;
}

#projectTable tr.FAIL {
	background-color: #FFC0C0;
}

/*** Build report *****************************************************/
table.build-summary {
	float: left;
	margin-right: 2em;
}

/*** Setup menu *******************************************************/
#setupnav {
	float: left;
	border: 1px solid darkgrey;
}

h2.setup-group {
	border-bottom: 2px solid lightgrey;
	clear: left;
}

div#lightbox {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: white;
}

div.foo {
	margin: 100px;
	border: 4px solid purple;
	background-color: white;
}

ul.setup-option-list li {
	float: left;
	display: block;
	width: 120px;
	height: 120px;
	margin-right: 30px;
	margin-bottom: 30px;
	list-style: none;
	text-align: center;
	background: transparent url("../images/setup-button.png") 0 0;
}
ul.setup-option-list li:hover {
	background-position: -120px -120px;
}

ul.setup-option-list li a {
	color: black;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	padding-top: 48px;
}

ul.setup-option-list a.import {
	background: transparent no-repeat top center url("../images/import.png");
}

ul.setup-option-list a.add {
	background: transparent no-repeat top center url("../images/add_32.png");
}

ul.setup-option-list a.edit {
	background: transparent no-repeat top center url("../images/edit_32.png");
}

ul.setup-option-list a.group {
	background: transparent no-repeat top center url("../images/group.png");
}

ul.setup-option-list a.remove {
	background: transparent no-repeat top center url("../images/remove_32.png");
}

ul.setup-option-list a.reports {
	background: transparent no-repeat top center url("../images/report.png");
}

ul.setup-option-list a.java-homes {
	background: transparent no-repeat top center url("../images/java.png");
}

ul.setup-option-list a.system-settings {
	background: transparent no-repeat top center url("../images/system-settings.png");
}
/*** Import Projects *******************************************************/
.processing, .status-detail {
	color: #7E97A6;
}

.ajax-progress-bar {
	margin-top: 20px;
	padding-top: 24px;
	padding-left: 10px;
	background: transparent no-repeat top left;
	background-image: url("../images/progressbar.gif");
}

.floater {
	border: 4px solid lightgrey;
	float: left;
	min-width: 350px;
	max-width: 400px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.floater h3 {
	border-bottom: 2px solid lightgrey;
	margin-bottom: 0;
	margin-top: 0;
}

.hideme {
	float: right;
}

.pass {
	background-color: #C0FFC0;
}

.clearfix {
	clear: both;
}

span.updates {
	color: darkgrey;
}
